.myNav {
    margin:50px 0px;
}
.mySearch {
    margin-bottom:50px;
}

.mySearch {

}
.myTab {
    margin-top: 50px;
}
.name {
    color: dodgerblue;
}

.showNav {
    margin:50px 0px;
}
.myDiv {
    margin:50px;
    border: solid 1px lightgray;
    height: 320px;
    border-radius: 5px;
}
.detail {
   margin: 50px 50px 20px;
}
.myBtn {
    float: right;
    margin-right: 150px;
    margin-bottom: 70px;
}
